//--VARIABLES--//

//Colores Primarios//
color-prim-verde = #48CC83
color-prim-gris = #606060
//Colores Secundarios//
color-secun-azul = #484BE4
color-secun-amarillo = #F0CA30
color-secun-rojo = #c33535
//Colores Textos//
color-texto-parrafo = #595959
color-texto-blanco = #FFF
color-texto-link = #48CC83
color-texto-titulo = #343030
//Colores Fondos//
color-bg-blanco = #FFF
color-bg-gris-claro = #FBFBFB
color-bg-gris = #F6F6F6
color-bg-gris-oscuro = #343030
color-bg-verde = #d6ebdf
color-bg-azul = #b2d2fa
color-bg-rojo = #f2cbcb
color-bg-amarillo = #e9e0c8
//Sombras//
sombra = 1px 5px 10px 5px rgba(0, 0, 0, 0.10)